* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Canopee";
  src: url("fonts/Canopee.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lexa";
  src: url("fonts/Lexa.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bigilla";
  src: url("fonts/Bigilla.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GS-Roman";
  src: url("fonts/GrandSlang-Roman.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Monument Extended";
  src: url("fonts/MonumentExtended.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Canopee";
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #cdc6be;
}

.web-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #cdc6be;
  padding: 2em;
}

.content{
  font-family: "GS-Roman";
  width: 100%;
  margin: 0 auto;
  padding-top: 75px;
}

section {
  transition: transform 0.25s;
  will-change: transform;
}

.distort h1 {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.distort p {
  font-weight: lighter;
  color: #141412;
  font-size: 16px;
  line-height: 30px;
}

.distort img {
  width: 100%;
}

.distort {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  padding-bottom: 5vh;
  margin-left: 0;
}

.distort div {
  flex: 0 0 100vw;
  width: 100vw;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-bottom: 0;
  padding: 0;
}

.distort img {
  width: 80%;
  max-width: 1000px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.distort h1 {
  text-align: left;
  width: 80%;
  max-width: 1000px;
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.distort p {
  text-align: left;
  width: 80%;
  max-width: 1000px;
  font-weight: lighter;
  color: #141412;
  font-size: 16px;
  line-height: 30px;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  color: #cdc6be;
  mix-blend-mode: difference;
  z-index: 2;
}

nav > div {
  flex: 1;
}

.logo {
  text-align: center;
  font-family: "Canopee";
}

.logo a {
  text-decoration: none;
  font-size: 40px;
  color: #cdc6be;
  cursor: default;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #cdc6be;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #141412;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
  z-index: 1;
}

.overlay-menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-item p {
  position: relative;
  text-align: center;
  font-family: "Canopee";
  font-size: 10vw;
  line-height: 80%;
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.menu-item p:hover {
  letter-spacing: 0.075em;
}

.sub-nav {
  position: absolute;
  top: 93%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
  opacity: 0;
}

.sub-nav p {
  font-family: "Canopee";
  font-size: 20px;
  color: #cdc6be;
}

.container {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: #cdc6be;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.hero h1 {
  font-family: "Lexa";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #141412;
  font-size: 6vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  line-height: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.hero h1 .char {
  position: relative;
  will-change: transform;
}

.hero h2 {
  font-family: "Bigilla";
  width: 100%;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #141412;
  font-size: 8vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  line-height: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.hero h2 .char {
  position: relative;
  will-change: transform;
}

.projects h1 {
  font-family: "Lexa";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #141412;
  font-size: 6vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  line-height: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Canopee";
  background-color: #cdc6be;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: default;
}

.container .info {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  cursor: default;
}

.col {
  flex: initial;
  width: 100%;
  display: flex;
  justify-content: center;
}

.col:nth-child(1) {
  width: 350px;
  height: 350px;
  margin-bottom: 1em;
  border-radius: 100%;
  overflow: hidden;
}

.col:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  text-align: left;
}

.col p {
  font-family: "Monument Extended";
  font-weight: 500;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #141412;
}

.col p .line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.col p .line span {
  position: relative;
  will-change: transform;
}

@media (max-width: 900px) {


  .logo a {
    font-size: 30px;
  }

  .hero h2 {
    top: 55%;
  }

  .menu-item p {
    position: relative;
    text-align: center;
    font-family: "Canopee";
    font-size: 15vw;
    line-height: 80%;
    will-change: transform;
    transition: letter-spacing 0.3s;
  }

  .col p {
    font-size: 1.9rem;
  }

  .sub-nav {
    position: absolute;
    top: 85%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5em;
    opacity: 0;
  }

  .col:nth-child(1) {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .col p {
    font-size: 2rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
  }

  .col:nth-child(1) {
    width: 400px;
    height: 400px;
  }

  .logo a {
    font-size: 50px;
  }

  nav .info p {
    font-size: 1.2rem;
  }

  .burger {
    transform: scale(1.2);
  }

  .sub-nav p {
    font-size: 1.75rem;
  }
}

@media (max-width: 600px) {
  .content {
    padding-top: 30px;
  }

  .distort img {
    width: 90%;
  }

  .distort h1 {
    font-size: 32px;
    padding: 0;
    width: 90%;
  }

  .distort p {
    font-size: 14px;
    padding: 0;
    width: 90%;
  }

  .distort div {
    height: calc(100vh - 40px);
  }

  .hero h2 {
    top: 54%;
  }

  .col:nth-child(1) {
    margin-top: 1.4rem;
    margin-bottom: 0;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    min-width: 250px;
    min-height: 250px;
  }

  .col p {
    font-size: 0.91rem;
  }

  .col:nth-child(2) {
    align-items: center;
    text-align: left;
  }
}



@media (min-width: 901px) {
  .container .info {
    flex-direction: row;
    justify-content: center;
    gap: 4em;
  }

  .col:nth-child(1) {
    margin-bottom: 0;
    flex-shrink: 0;
    width: 450px;
    height: 450px;
  }

  .col:nth-child(2) {
    align-items: flex-start;
    text-align: left;
    max-width: 600px;
    padding: 0;
  }
}
